{
  "extends": "airbnb-base",
  "rules": {
    "for-direction": 0,
    "function-paren-newline": 0,
    "getter-return": 0,
    "no-buffer-constructor": 0,
    "switch-colon-spacing": 0,
    "semi-style": 0,
    "max-len": ["error", { "code": 90 }],
    "linebreak-style": ["error", "windows"],
    "object-curly-newline": 0,
    "no-underscore-dangle": 0
  }
}